body{
    background-size: cover;
    padding: 0%;
    margin: 0%;
}
.about{
    color: black;
    background-color: rgba(39, 37, 37, 0.635);
    backface-visibility: var(30%);
    margin: 10%;
    border: 2px solid black ;
    border-radius: inherit;
    padding: 1rem;
    text-align: center;
}
.home{
    position: absolute;
    top: 1.8%;
    left: 1%;
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.797);
    backface-visibility: var(30%);
    color: rgb(204, 215, 204);
    font-size: 1.6rem;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10%;
    transition: ease-in;
}

.home:hover{
    font-size: 1.7rem;
}